imgs/
models/
downsample/
.idea/
.ipynb_checkpoints/
.DS_Store
*.ipynb
__pycache__/
.nfs*
checkpoints/
*.ckpt
info.txt
source_data/
sr/
venv.sh
permission.sh
logs/
ckpt_backup/
ckpt_choice/
checkpoints_archive/
